<div class="img"><img class="gene" src="assets/img/Gene_Belcher.png" alt="Boy in Burger Suit"></div>

<h1>Eat-Da-Burger</h1>

<div id="menu">
  <!-- Pass in data from server.js -->
  <h2>Burger Options:</h2>
  <ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
      {{this.id}}
      {{this.burger_name}}
      <button class="change-status" data-id="{{id}}" data-newDevoured="{{devoured}}">Eat Me!</button> 
      </li>
    {{/unless}}
    {{/each}}
  </ul>
</div>
<div id="eaten">
  <h2>You Ate These Burgers:</h2>
  <ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
      {{this.id}}
      {{this.burger_name}}
    </li>
    {{/if}}
    {{/each}}
  </ul>
</div>

<div id="add-burger">
  <h2>Add Burger:</h2>

  <div class="form-group-create">
    <label for="new-burger" class="text-label">Burger Name:</label>
    <input type="text" id="new-burger" name="burger_name">
    <button class ="add-da-burger" type="submit">Add to Menu</button>
  </div>
</div>